
body{
    margin: 0;
    padding:0;
}
header{
    background-color: lightslategray;
    background-image: url("image/b.jpg");
    opacity: 80%;
    background-size: cover;
    padding:2%;
    text-align: center;
}
h1{
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: x-large;
}
nav button{
    box-sizing: border-box;
    display:inline-block;
    border-radius: 10px;
    background-color: #ffffff4b;
    padding:1% 3%;
    margin-right: 10% ;
    text-decoration: none;
    text-align: center;
    font-size: 125%;
    color:#000000;
    transition: all .3s ease-in;
    
}
nav button:hover{
    transform: scale(1.2);
    background-color: #60d811f3;
    color: #FFFFFF;
}
button > a{
    text-decoration: none;
    color:black;
}
aside{
    display: inline-block;
    float: left;
    box-sizing: border-box;
    border: 1px solid greenyellow;
    display: inline-block;
    background: rgb(94, 129, 11);
    width: 20%;
    height: 100vh;
    overflow: auto;
    float:left;
 }

.left img{
    display: block;
    border: 2px solid black;
    border-radius: 50%;
    width: 80%;
    margin: 10%;
    transition: all 0.3s ease-in;
}
.left img:hover{
    transform: scale(1.5);
    border-radius: 5%;
}
section{
    display:none;
}

.open{
    display: inline-block;
    float: left;
    width: 70%;
    padding: 2%;
    height: 100vh;
    font-size: 125%;

}



table{
    padding-left: 5%;
    width: 80%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: inherit;
    font-size: 70%;

}
td{
    background: rgba(151, 231, 105, 0.507);
    margin: 3px;
    padding: 2% 4%;
    overflow: visible;
}
th{
    background-color: rgb(94, 129, 11) ;
    margin: 3px;
    padding: 2% 4%;
    box-sizing: border-box;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
    border-bottom: 3px solid rgba(112, 194, 18, 0.911);
}
th,td:first-child{
    width: 50%;
}

th,td{
    width:25%;
    text-align: center;

}
 tr th,td:first-child{
    text-align: left;
}
tr{
    opacity:0.7;
}
tr:hover{
    opacity:1;
}

#arrow{
    list-style-type: none;

}
